*{
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis', sans-serif;
}

body{
  background: rgb(19, 161, 70);
}

h2,h1{
  font-family: sans-serif;
}

.navigation-box{
  backround: rgb(204, 148, 93);
  display: flex;
}

.navigation-home{
  color: rgb(96, 161, 166);
  margin: 0.5rem;
}

.navigation-shoppingcart{
  color: rgb(166, 96, 125);
  margin: 0.5rem;
}

.container-productoverview{
  background: rgb(235, 68, 30);
  display: flex;
  align-items: center;
}

.container-imageoverview{
  background: rgb(184, 237, 74);
  display: flex;
  width: 40%;
}

.addon-image-box{
  background: rgb(100, 73, 189);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-top: 1rem;
  margin-right: 0;
  width: 10%;
}

.image-box{
background: rgb(85, 106, 81);
margin: 1rem;
padding: 1rem;
width: 90%;
}

.productimage-properties{
  max-width: 100%;
  max-height: 100%;
}

.container-textoverview{
  display: flex;
  background: rgb(98, 106, 147);
  flex-direction: column;
  margin: 1rem;
  width: 60%;
}

.product-title-box{
  background:rgb(156, 156, 156);
  margin: 1rem;
}

.product-title{
color:rgb(170, 125, 40);
}

.feature-box{
  background:rgb(113, 98, 97);
  margin: 1rem;
}


.feature-title-box{
  background:rgb(213, 40, 142);
  margin: 1rem;
}

.feature-title{
  color: rgb(49, 90, 117);
}

.feature-list-box{
  background: rgb(19, 38, 124);
  margin: 1rem;
}

.feature-list{
  color: rgb(158, 167, 106);
}

.container-further-description{
  display: flex;
}

.description-box{
  background:rgb(55, 75, 59);
  margin: 1rem;
  width: 60%;
}

.description-title-box{
  background:rgb(213, 199, 238);
  margin: 1rem;
}
.description-title{
  color: rgb(208, 136, 236);
}

.description-text-box{
  background:rgb(47, 135, 150);
  margin: 1rem;
}

.description-text{
  color:blue;
}

.manual-box{
  background: rgb(234, 177, 244);
  margin: 1rem;
width: 40%;
}

.manual-title-box{
  background: rgb(232, 50, 203);
  margin: 1rem;
}

.manual-title{
  color:rgb(196, 203, 67);
}

.manual-link-box{
  background: rgb(74, 28, 108);
  margin: 1rem;
}

.manual-link{
  color:rgb(129, 235, 87);
}
