*{
  margin: 0px;
}

body{
  background: rgb(19, 161, 70);
}

.container-productoverview{
  background: rgb(235, 68, 30);
  display: flex;
  justify-content:space-between;
}
.product-title-box{
  background:rgb(156, 156, 156);
  margin: 10px;
float: right;
}

.product-title{
color:rgb(170, 125, 40);
}

.image-box{
background: rgb(85, 106, 81);
margin: 10px;
float: left;
}

.productimage-properties{
  margin: 10px;
width:20%;
}

.feature-box{
  background:rgb(113, 98, 97);
  margin: 10px;
  float: right;
}

.feature-title-box{
  background:rgb(213, 40, 142);
  margin: 10px;
}

.feature-title{
  color: rgb(49, 90, 117);
}

.feature-list-box{
  background: rgb(19, 38, 124);
  margin: 10px;
}

.feature-list{
  color: rgb(158, 167, 106);
}

.description-box{
  background:rgb(55, 75, 59);
  float: left;
}

.description-title-box{
  background:rgb(213, 199, 238);
  margin: 10px;
}
.description-title{
  color: rgb(208, 136, 236);
}

.description-text-box{
  background:rgb(47, 135, 150);
  margin: 10px;
}

.description-text{
  color:blue;
}

.manual-box{
  background: rgb(234, 177, 244);
  margin: 10px;
}

.manual-link{
  color: rgb(232, 90, 124);
}
